.cesium-status-controller {
    position: absolute;
    // bottom: 0px;
    margin-top: -20px;
    // left: 60px;
    box-sizing: border-box;
    line-height: 1.2rem;
    text-align: center;
    border-radius: 0px;
    user-select: none;
    pointer-events: auto;
    display: flex;
    flex-direction: row;
    background-color: rgba(128, 128, 128, 0.74);
    width: calc(100% - 0px);;
    height: 20px;
    .commonlabel{
        font-size: 12px;
        color: #E2E5E8;
        display: flex;
        align-items: center;
    }
    .label {
        text-align: left;
        margin-left: 10px;
        display: flex;
        justify-content: left;
    }
    .lonlat{
        text-align: left;
        margin-left: 4px;
        margin-right: 5px;
        align-items: center;
        justify-content: left;
        width: 60px;
    }
    .cameraheight{
        text-align: left;
        margin-left: 4px;
        margin-right: 5px;
        align-items: center;
        justify-content: left;
        width: 80px;
    }
    .company{
        text-align: right;
        margin-left: 4px;
        margin-right: 6px;
        align-items: center;
        justify-content: right;
        position: absolute;
        right: 0px;
    }
}